<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- learn-ragakosh -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6462616650691570"
         data-ad-slot="3523048440"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {% include footer.html %}
    
  </body>

</html>
